@use 'mixins.scss';

// .badge-example {
//     @include mixins.badge-ribbon($size: 200px,
//         $ribbon-height: 60px,
//         $corner-size: 15px,
//         $offset: -15px,
//         $position: top-right,
//         $ribbon-corner-color: #3498db,
//         $ribbon-center-color: #2ecc71);
// }

.badge-top-right {
    @include mixins.badge-ribbon($position: top-right, $size: 125px, $ribbon-height: 35px, $corner-size: 10px, $offset: -10px);
}

.badge-small-top-right {
    @include mixins.badge-ribbon($position: top-right, $size: 65px, $ribbon-height: 25px, $corner-size: 6.66px, $offset: -6.66px);
}

.badge-top-left {
    @include mixins.badge-ribbon($position: top-left, $size: 125px, $corner-size: 10px, $offset: -10px);
}

.dark-navigate-logo {
    @include mixins.navigate-logo(2px, rgba(var(--primary), .5), rgb(var(--primary)), rgba(var(--primary), 1));
}

.light-navigate-logo {
    @include mixins.navigate-logo(2px, rgba(var(--primary), 1), rgb(var(--primary)), rgba(var(--primary), .5));
}

.request-btn {
    @include mixins.request-btn(0.375rem, rgb(var(--primary)), white);
}

.invitation-btn {
    @include mixins.invitation-btn(rgb(var(--primary)));
}

.dark-checkered-background {
    @include mixins.checkered-background(white, black);
}

.light-checkered-background {
    @include mixins.checkered-background(black, white);
}

.dark-vignette-checkered {
    @include mixins.vignette-checkered(#737373, #0a0a0a);
}

.dark-changelog-header {
    @include mixins.changelog-checkered-header(white, black);
}

.light-changelog-header {
    @include mixins.changelog-checkered-header(black, white);
}

.light-vignette-checkered {
    @include mixins.vignette-checkered(#737373, #fafafa);
}

.dark-left-diagonal-stripes {
    @include mixins.diagonal-stripes(#404040, #0a0a0a);
}

.dark-right-diagonal-stripes {
    @include mixins.diagonal-stripes(#404040, #0a0a0a);
}

.light-left-diagonal-stripes {
    @include mixins.diagonal-stripes(#e5e5e5, #fafafa);
}

.light-right-diagonal-stripes {
    @include mixins.diagonal-stripes(#e5e5e5, #fafafa);
}

.applying {
    @include mixins.applying;
}

.canceling {
    @include mixins.canceling;
}