@mixin navigate-logo($border, $borderRadius, $onHoverBgColor, $onHoverBorderColor, $onHoverBoxShadowColor) {
    z-index: 1;
    position: relative;
    transition: ease-in-out .35s;

    &:before {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        width: 0%;
        height: 100%;
        border-radius: $borderRadius;
        transition: all ease-in-out .35s;
    }

    &:hover,
    &:focus-visible {

        border: $border solid $onHoverBorderColor;
        box-shadow: 0 0 50px $onHoverBoxShadowColor;

        &:before {
            left: 0;
            width: 100%;
            background-color: $onHoverBgColor;
        }
    }

}

@mixin request-btn($borderRadius, $onHoverBgColor, $onHoverColor) {
    z-index: 1;
    position: relative;
    transition: ease-in-out .25s;

    &:before {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        border-radius: $borderRadius;
        background-color: $onHoverBgColor;
        transition: width ease-in-out .25s;
    }

    &:hover,
    &:focus-visible {

        color: $onHoverColor;

        &:before {
            width: 100%;
        }
    }

}

@mixin checkered-background($stripeColor, $gradientSideColor) {
    position: relative;

    &::before {
        content: '';
        z-index: -2;
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, $stripeColor 1px, transparent 1px), linear-gradient(to bottom, $stripeColor 1px, transparent 1px);
        background-size: 40px 40px;
        opacity: .1;
    }

    &::after {
        content: '';
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(222deg, $gradientSideColor 10%, transparent 50%, $gradientSideColor 90%);
    }
}

@mixin resize-btn {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: -.5rem;
        right: 0;
        width: 0;
        height: .2rem;
        border-radius: 9999px;
        background-color: #7c3aed;
        transition: width ease-in-out .25s;
    }

    &:hover {
        &::after {
            pointer-events: none;
            width: 100%;
            left: 0;
        }
    }

}